@import '~antd/dist/antd.css';

.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PageHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
  top:0;
}
.searchContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  display: inline-block;
  vertical-align: middle;
}
.pageContent {
  margin-top:80px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.pdbottom {
  padding-bottom: 20px !important;
}
.leftItem {
  float:left;
}
.nationalityItem:hover {
  cursor:pointer;
}